# Dependencies
node_modules/
__pycache__/
*.pyc
venv/
.venv/
.env

# Build
.next/
dist/
build/
.expo/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase
firebase-debug.log
*firebase-adminsdk*.json
backend/*-adminsdk-*.json
